$transitionDurationMs: 0.5s;
$transitionDurationMs2: 3s;
$transitionDurationMs3: 0.3s;

.horizontal-collapse {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__item {
    list-style: none;
    position: relative;
    transition: width $transitionDurationMs;

    &.is-active {
      .horizontal-collapse__inactive-content {
        opacity: 0;
      }

      .horizontal-collapse__active-content {
        opacity: 1;
        transition: opacity $transitionDurationMs2;
      }
    }
  }

  &__inactive-content {
    opacity: 1;
    transition: opacity $transitionDurationMs;
    position: absolute;

    .horizontal-collapse__heading {
      user-select: none;
      cursor: default;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }

  &__active-content {
    opacity: 0;
    // transition: opacity $transitionDurationMs;
    // transition: opacity $transitionDurationMs2;
    cursor: pointer;
    overflow: hidden;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
