$transitionDurationMs: 0.5s;

.horizontal-collapse {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
  color: #fff;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &__inner {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  &__item {
    min-height: auto;
    list-style: none;
    padding: 0;
    overflow: hidden;
    min-width: 10rem;
    max-width: 40rem;
    position: relative;
    transition: width $transitionDurationMs;

    &.is-active {
      // color: #fff;

      .horizontal-collapse__inactive-content {
        opacity: 0;
      }

      .horizontal-collapse__active-content {
        opacity: 1;
      }
    }
  }

  &__item-inner {
    padding: 2rem;
  }

  &__inactive-content {
    opacity: 1;
    transition: opacity $transitionDurationMs;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .horizontal-collapse__heading {
      user-select: none;
      cursor: default;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }

  &__active-content {
    opacity: 0;
    transition: opacity $transitionDurationMs;
    cursor: default;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__body {
    margin-bottom: 2rem;
  }

  &__link {
    display: inline-block;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    line-height: 1;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}
